.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    flex-grow: 1;
    padding: 1rem;
    height: calc(100vh - 120px);
    overflow-y: auto;
  }

  app-sidebar {
    background-color: #f8f9fa;
  }

  app-navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  app-footer {
    width: 100%;
  }

  .d-flex {
    display: flex;
  }

  .flex-grow-1 {
    flex-grow: 1;
  }
}
.sidebar {
  width: 15%;
  min-width: 60px;
  max-width: 300px;
  transition: width 0.3s;
  @media (max-width: 575px) {
    width: 54%;
  }
  @media (min-width: 576px) and (max-width: 768px) {
    width: 45%;
    max-width: 100%;
	}
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 20%;
  }

  &.collapsed {
    width: 60px;
  }
}
.navbar-mainapp {
  flex: 1 1 0;
  transition: width 0.3s;
  width: 85%;
  @media(max-width: 575px) {
    width: 46%;
  }
  @media (min-width: 576px) and (max-width: 768px) {
    width: 55%;
	}
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 80%;
  }
}
.d-flex {
  display: flex;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
}

