// 🎨 Color Palette
$base-color: #8CB89F;
$color-danger: #DB504A;
$color-success: #008818;
$color-light: #eee;
$color-dark: #091e42;
$color-text: #212529;
$color-bg: #ffffff;
$color-light-toggle:#8CB89F;
$color-dark-toggle:#0d1f17;
