@import 'variables';

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 56px);
  background: var(--baseColor);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow: hidden;
  scrollbar-width: none;
  width: 15%;

  @media (max-width: 575px) {
    width: 54%;
  }

  @media (min-width: 576px) and (max-width: 768px) {
    width: 45%;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    width: 20%;
  }

  @media (max-width: 768px) {
    height: calc(100vh - 50px);
  }

  &.hide {
    width: 60px;
  }

  &::--webkit-scrollbar {
    display: none;
  }

  .brand {
    font-size: 22px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--dark);
    background: var(--baseColor);
    padding-bottom: 20px;
    box-sizing: content-box;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;

    .bx {
      min-width: 60px;
      display: flex;
      justify-content: center;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      font-size: 14px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  .side-menu {
    width: 100%;
    margin-top: 48px;
    padding-left: 0 !important;

    li {
      height: 48px;
      margin-left: 6px;
      border-radius: 48px 0 0 48px;
      padding: 4px;
      background: transparent;

      &.active {
        background: var(--grey);
        position: relative;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          right: 0;
          z-index: -1;
        }

        &::before {
          top: -40px;
          box-shadow: 20px 20px 0 var(--grey);
        }

        &::after {
          bottom: -40px;
          box-shadow: 20px -20px 0 var(--grey);
        }

        a {
          color: $color-light;
        }
      }

      a {
        width: 100%;
        height: 100%;
        background: var(--baseColor);
        display: flex;
        align-items: center;
        border-radius: 48px;
        font-size: 18px;
        color: var(--dark);
        white-space: nowrap;
        overflow-x: hidden;

        .bx {
          min-width: calc(60px - ((4px + 6px) * 2));
          display: flex;
          justify-content: center;
        }

        &.logout {
          color: var(--red);
          cursor: pointer;
        }

        @media (max-width: 1024px) {
          font-size: 16px;
          text-align: start;
        }

        @media (max-width: 768px) {
          font-size: 14px;
        }

        &:hover {
          color: $color-light;
        }
      }
    }
  }

  &.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width 0.3s ease;
  }

  .logout-mode {
    position: absolute;
    bottom: 0;
    width: 100%;

    .switch-mode {
      display: block;
      min-width: 50px;
      height: 25px;
      border-radius: 25px;
      background: var(--toggleBg);
      cursor: pointer;
      position: relative;

      @media (max-width: 1024px) {
        min-width: 30px;
        height: 18px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: calc(25px - 4px);
        background: $color-light-toggle;
        border-radius: 50%;
        transition: all 0.3s ease;

        @media (max-width: 1024px) {
          width: calc(25px - 12px);
        }
      }
    }

    #switch-mode:checked + .switch-mode::before {
      left: calc(100% - (25px - 4px) - 2px);
      background: #0d1f17;
	  @media (max-width: 1024px) {
      left: calc(100% - (25px - 4px) - -6px);
      }
    }
  }
}
