@import "../../../../styles/variables.scss";

.summary-text {
  text-align: end;
  color: var(--dark);

  @media (max-width: 1024px) {
    text-align: start;
    font-size: 16px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  margin-top: 36px;

  @media (max-width: 576px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-left: 0;
  }

  li {
    padding: 18px 14px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 24px;

    .bx {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      font-size: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:nth-child(1) .bx {
      background: var(--light-blue);
      color: var(--blue);
    }

    &:nth-child(2) .bx {
      background: #aceac7;
      color: $color-success;
    }

    &:nth-child(3) .bx {
      background: var(--light-orange);
      color: var(--orange);
    }

    &:nth-child(4) .bx {
      background: var(--light-yellow);
      color: var(--yellow);
    }

    .text {
      h3 {
        font-size: 18px;
        font-weight: 600;
        color: var(--dark);

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

      p {
        font-size: 14px;
        color: var(--dark);
      }
    }
  }
}
